@mixin PanelColumns($flexBasis, $flexGrow: 1, $flexShrink: 1) {
  .PanelBody {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
  }

  .ChecklistTask {
    flex: $flexGrow $flexShrink $flexBasis;
    margin: 15px;
  }
}

@mixin ChecklistColumns($flexBasis, $flexGrow: 1, $flexShrink: 1) {
  .List .List {
    display: flex;
    flex-flow: row wrap;

    .ListItem {
      flex: $flexGrow $flexShrink $flexBasis;
    }
  }
}
