.ChecklistTask {
  .List {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .ListHeading {
      margin-top: 0;
      margin-bottom: 15px;

      label {
        font-weight: bold;
      }
    }

   .ListItem {
     line-height: 2.1rem;
    }
  }
}

